<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>
<div id ='edit-band'>
<%= link_to 'Edit', edit_band_path(@band),remote:true %> 
</div>|
<%= link_to 'Back', bands_path %>
